.dtc-dictionary_item-control {
    line-height: 20px;
    width: 100%;
}

.dtc-dictionary_item-control-label {
    display: block;
    padding-bottom: 10px;
}

.dtc-dictionary_item-control-input {
    width: calc(100% - 40px);
    position: relative;
    color: var(--dtc-text-color);
    font-size: var(--dtc-text-size-default);
    background-color: var(--dtc-l1-color);
}

.dtc-dictionary_item-control-remove-trigger {
    bottom: 16px;
    top: unset;
}

.dtc-dictionary_control {
    flex-grow: 1;
}

.dtc-dictionary_control-region {
    position: relative;
    height: 30px;
    padding-bottom: 5px;
}

.dtc-dictionary_control-label {
    width: 100%;
}
