/*
 * These styles are for reference only and should be
 * copied into the individual component stylesheets to
 * control specificity
 */

.dtc-common-control-region {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}