.dtc-common-select-span {
    position: relative;
    display: flex;
}

.dtc-common-select-span::before {
    content: '';
    position: absolute;
    top: 9px;
    right: 4px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid var(--dtc-text-color);
}