.dtc-common-remove-item {
    position: absolute;
    top: 5px;
    right: 5px;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: var(--dtc-border-radius);
}

.dtc-common-remove-item:focus-visible {
    box-shadow: inset 0 0 0 1px var(--dtc-accent-color);
    outline: none;
}

.dtc-common-remove-item::before {
    position: absolute;
    content: '';
    pointer-events: none;
    width: 9px;
    height: 1px;
    left: 5.5px;
    top: 9.5px;
    background: var(--dtc-text-color);
}