[dir="rtl"] .dtc-common-select-input {
    padding: 3px 5px 2px 16px;
}

[dir="ltr"] .dtc-common-select-input {
    padding: 3px 16px 2px 5px;
}

.dtc-common-select-input {
    width: 100%;
    line-height: 16px;
    font-size: var(--dtc-text-size-default);
    background: var(--dtc-l1-color);
    border-radius: var(--dtc-border-radius);
    appearance: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    color: var(--dtc-text-color);
    padding: 4px 6px;
}

.dtc-common-select-input:-ms-expand {
    display: none;
}

.dtc-common-select-input option {
    background: var(--dtc-l4-color);
}

.dtc-common-select-input:disabled {
    cursor: not-allowed;
}

.dtc-common-select-input:focus {
    box-shadow: inset 0 0 0 1px var(--dtc-accent-color);
}

.dtc-common-select-input:invalid {
    border: 1px solid var(--dtc-error-color);
}