.dtc-common-interactive-form-control-indicator {
    display: flex;
    padding: 2px;
    cursor: pointer;
    align-self: center;
    background: transparent;
    border: 1px solid var(--dtc-l3-outline-color);
    border-radius: var(--dtc-border-radius);
    color: var(--dtc-text-color);
    text-transform: uppercase;
    font-size: calc(var(--dtc-text-size-default) - 2px);
    font-weight: bold;
}

.dtc-common-interactive-form-control-indicator:focus-visible {
    border-color: var(--dtc-accent-color);
    outline: none;
}

.dtc-common-interactive-form-control-indicator:hover {
    background: var(--dtc-accent-color);
    border-color: var(--dtc-accent-color);
}