.dtc-control-text-field {
    display: flex;
    align-items: center;
}

.dtc-control-text-field input {
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--dtc-text-size-default);
    box-sizing: border-box;
    line-height: 16px;
    font-family: inherit;
    background-color: var(--dtc-l1-color);
}

.dtc-control-text-field.dtc-control-text-field__disabled input {
    color: var(--dtc-inactive-text-color);
    font-style: italic;
}