/*
 * These styles are for reference only and should be
 * copied into the individual component stylesheets to
 * control specificity
 */

.dtc-common-input-backplate {
    appearance: none;
    height: 24px;
    width: 24px;
    margin: 0;
    background-color: var(--dtc-l1-color);
}

.dtc-common-input-backplate:focus,
.dtc-common-input-backplate:hover {
    outline: none;
}