.dtc-date-control {
    display: flex;
    position: relative;
}

.dtc-date-control,
.dtc-date-control input {
    width: 100%;
    color: var(--dtc-text-color);
}

.dtc-date-control input {
    background: var(--dtc-l1-color);
    box-sizing: border-box;
}

.dtc-date-control input:invalid {
    border: 1px solid var(--dtc-error-color);
}

.dtc-date-control input::-webkit-calendar-picker-indicator {
    background: none;
    z-index: 1;
}

.dtc-date-control svg {
    position: absolute;
    pointer-events: none;
    inset-inline-end: 4px;
    margin-block-start: 4px;
}
