.dtc-common-form-control-indicator {
    display: flex;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    padding: 0;
    align-self: center;
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--dtc-border-radius);
}

.dtc-common-form-control-indicator svg {
    fill: var(--dtc-text-color);
    min-height: 15px;
    min-width: 18px;
    box-sizing: border-box;
    padding: 0 1px;
}
